@import "tailwindcss";

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

/* Add global styles to hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray on hover */
}
